body{
    padding-left: 10%;
    font-family: "MyCustomFont";
    /* font-size: 18.8pt; */
}

@font-face {
    font-family: "MyCustomFont"; /* A name you choose for your font */
    src: url("ITCFranklinGothicStd-Book.woff2") format("woff2");
    font-weight: normal; /* Optional: Define font-weight */
    font-style: normal; /* Optional: Define font-style */
}


.container {
    display: grid;
    column-gap: 3.5rem;
    grid-template-columns: 65% 35%;
}

.allgrid{
    /* border: 1px solid black; */
    
} 

.notice{
    color: red;
    font-size: 10px;
}


h1{
    font-size: 3em;
    margin-top: 5%;
    margin-bottom: 0%;
    font-weight: bolder;
}

.SE{
    margin-top: 0%;
    margin-bottom: 0%;
    font-weight:100;
    font-size: 2.75em;

}
.area

.summary{
    font-size: 20px ;
    margin-top: .5%;
    /* margin-right: 35%; */
    /*flex-grow: 1;
    /*display: inline-block;*/
}

.areatwo{
    font-size: 20px;
    /* padding-top: 45%; */
    margin-top: 30%;
}

.counter{
    /* margin-top: 10%; */
    margin-bottom: 10%;
}

.section-titles{
    font-size: 27px;
    font-weight: bolder;
    padding-top: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}
.job-titles{
    margin-top:2%;
    margin-bottom: 0%;
    font-weight:bold;
    font-size: 22px;
}

.job-location{
    margin: 0;
    font-size: 17px;
}

.job-dates{
    margin: 0;
    padding-right: 2%;
}

.box{
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.certifications{
list-style-type: none; 
padding: 0; 
}

.skills{
margin: 2% ;}

.areaseven{
    padding-top: 200%;
}